.home {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    /* height: 100px; */
    position: fixed;
    /* background: red; */
    width: 100%;
    /* border: 1px solid rgb(251, 247, 247); */
}

.farina {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    letter-spacing: 5px;
    font-size: 36px;
    /* height: 100px; */
    font-family: 'Berkshire Swash', cursive;
}


.list-items {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

a.home1 {
    padding: 20px;
    font-size: 13px;
    color: white;
}

.homereservation {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /* color: white; */
}

a.homereservation1 {
    color: white;
    font-size: 15px;
    font-weight: 900;
    padding: 13px 37px;
    background: #d6c1c8;
    border-radius: 20px;
}
img.sliderimage1-a {
    width: 100%;
    height: 550px;
}

.sliderimage1details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sliderimage1btn {
    position: absolute;
    top: 67%;
    right: 50%;
    /* left: 50%; */
    /* bottom: 20px; */
    transform: translate(50%, -50%);
    /* text-align: center; */
    /* color: white; */
}

a.sliderimage1btn-a {
    color: white;
    padding: 13px 40px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background: rgb(214, 193, 200);
    border-radius: 20px;
}

.tablebook {
    background-image: url(../image/table3a.jpg);
    height: 350px;
    text-align: center;
}

.tablebook1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    padding-top: 72px;
}

.tablebook2 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.tablebookbtn {
    margin-top: 50px;
}

.tablebtn1 {
    color: white;
    padding: 15px 35px;
    background: rgb(214, 193, 200);
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
}
.tablebtn1:hover {
    text-decoration: none;
}
.footer {
    padding-top: 50px;
    padding-bottom: 75px;
    background: rgb(245, 245, 245);
}

.loremipsumhead {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.loremipsumdetail {
    font-size: 16px;
    opacity: 0.7;
}

p {}

.quicklinkshead {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.quicklinksdetail {
    font-size: 16px;
    opacity: 0.7;
    line-height: 1;
}

.infohead {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
}

.followushead {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.instalink {
    padding: 0px 10px 0 0;
    font-size: 20px;
    opacity: 0.7;
}

.fblink {
    padding: 0 10px;
    font-size: 20px;
    opacity: 0.7;
}

.twitterlink {
    padding: 0 10px;
    font-size: 20px;
    opacity: 0.7;
}

.info1 {
    line-height: 1;
}

.info2 {
    line-height: 1;
    margin-top: 25px;
}

.infotime1 {
    margin-left: 12px;
}
.copyright {
    text-align: center;
    padding: 10px;
    background: rgb(214, 193, 200);
}
.blogimage1a {
    width: 100%;
    height: 235px !important;
    /* border: 10px solid rgb(232, 232, 232); */
}
.blogimagecover {
    overflow: hidden;
}
.blogimage1a:hover {
    transform: scale(1.2); 
    height: 235px !important;
    width: 100%;
}
.blogimagedetails {
    text-align: center;
}
.blogimage1details1:hover {
    opacity: 0.5;    
}
.blogimage1 {
    border: 10px solid rgb(232, 232, 232);
    height: 385px;
    text-align: center;
    margin-bottom: 25px;
}
.food1body {
    margin-top: 100px;
    margin-bottom: 100px;
}
.rowpart1 {
    margin-right: 50px;
}
.foodwritter {
    font-style: italic;
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: 30px;
    border-color: rgb(214, 193, 200);
}

.f1head1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.f1description1 {
    margin: 20px 0;
    font-size: 17px;
}

.f1btn {
    margin-top: 40px;
}

.f1description2 {
    font-size: 17px;
}

a.btn.f1btn1a {
    padding: 8px 30px;
    background: rgb(214, 193, 200);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 20px;
}