.home {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    /* height: 100px; */
    position: fixed;
    /* background: rgb(0, 0, 255); */
    z-index: 999;
    /* position: relative; */
    width: 100%;
    /* border: 1px solid rgb(251, 247, 247); */
}

.farina {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    letter-spacing: 5px;
    font-size: 36px;
    /* height: 100px; */
    font-family: 'Berkshire Swash', cursive;
}



.list-items {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

a.home1 {
    padding: 20px;
    font-size: 13px;
    color: white;
}

a.home1:hover {
    text-decoration: none;
    color: darkslateblue;
}

.homereservation {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /* color: white; */
}

a.homereservation1 {
    color: white;
    font-size: 15px;
    font-weight: 900;
    padding: 13px 37px;
    background: #d6c1c8;
    border-radius: 20px;
}

a.homereservation1:hover {
    text-decoration: none;
    color: black;
}
img.sliderimage1-a {
    width: 100%;
    height: 550px;
}

.sliderimage1 {
    position: relative;
}

.sliderimage1details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sliderimage3 {
    color: white;
}

.sliderimage1btn {
    position: absolute;
    right: 50%;
    /* left: 50%; */
    bottom: 30%;
    transform: translate(50%, -50%);
    /* text-align: center; */
    /* color: white; */
}

a.sliderimage1btn-a {
    color: white;
    padding: 13px 40px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background: rgb(214, 193, 200);
    border-radius: 20px;
}

a.sliderimage1btn-a:hover {
    text-decoration: none;
    color: darkslateblue;
}

#homescreen2 {
    display: none;
}
#homescreen3 {
    display: none;
}

button.btn-group.prev {
    padding: 8px;
    border-radius: 50%;
    /* border: none; */
}

.nextimage {
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(50%, -50%);
}
img.ourstory1 {
    /* width: 100%; */
    height: 476px;
}

.ourstorybox {
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.storyhead {
    font-size: 47px;
}

.storydescription {
    font-size: 18px;
    text-align: justify;
}

a.fullstory {
    color: rgb(47, 46, 46);
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 20px;
    background: rgb(214, 193, 200);
}

.fullstoryhead {
    text-align: center;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
} 



/* sliderimage1 owl */
#owl3 > .owl-nav {
    /* text-align: center; */
    position: absolute;
    bottom: 20px;
    color: black;
    font-size: 40px;
    left: 50%;
    margin-bottom: 20px;
}

#owl3 > .owl-nav > button.owl-prev {
    margin-left: -15px;
}

#owl3 > .owl-nav > button.owl-next {
    margin-left: 15px;
}


.guestsayblock {
    position: relative;
}

/* .owl-nav {
    position: absolute;
    top: 85%;left: 50%;
    transform: translate(50%, -50%);
} */

.sliderimgdetails1a {
    font-size: 35px;
    letter-spacing: 1;
    font-weight: 600;
}
.sliderimgdetails1b {
    font-size: 20px;
}

/* most popular food owl */
button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    color: rgb(0, 0, 0) !important;
    font-size: 50px !important;
    margin-left: -40px;
}
button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    right: 0;
    color: rgb(0, 0, 0);
    font-size: 50px !important;
    margin-right: -24px;
}



.imageslide {
    background: rgb(241, 241, 241);
    height: 287px;
    padding: 30px 15px;
}

.most_popular {
    background: rgb(241, 241, 241);
    margin-top: 30px;
    /* color: grey; */
}

.most_popular_head {
    text-align: center;
    padding-top: 60px;
}

span.imageslide_a {
    position: absolute;
    top: 82%;
    width: 202px;
    padding: 15px 50px 5px 50px;
    background: rgb(241, 241, 241);
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: black;
}

.mp_head1 {
    font-size: 40px;
    font-weight: 600;
}

.mp_head2 {
    font-size: 20px;
}


.menu {
    margin-top: 40px;
}

.dishesmenu {
    text-align: center;
    margin-top: 30px;
}
#maindish_a {
    display: none;
}
#maindish_b {
    display: none;
}
#maindishbtn_b {
    display: none;
}

a.maindish {
    padding: 20px;
    font-size: 20px;
}
button.btn.fullmenu {
    padding: 10px 35px;
    background: rgb(214, 193, 200);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.listhead1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}

.menulist1 {
    padding-bottom: 1px;
}
.maindishhead {
    margin-top: 20px;
}
#desserts {
    display: none;
}
#dessert_a {
    display: none;
}
#dessert_b {
    display: none;
}
#dessertbtn_b {
    display: none;
}
#drinks {
    display: none;
}
#drinksbtn_b {
    display: none;
}
#drinks_a {
    display: none;
}
#drinks_b {
    display: none;
}

.fullmenu {
    margin: 50px 0px;
    padding: 10px 33px;
    background: rgb(214, 193, 200);
    border: none;
    border-radius: 26px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
button.maindish {
    border: none;
    background: none;
    padding: 20px;
    font-size: 18px;
}
button.maindish:active {
    text-decoration: underline;
    color: red;
}
button.maindish:hover {
    color: blue;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
/* [SLIDER]
#slider,  #slider .slide{
    width: 500px;
    height: 250px;
  }
  #slider {
    overflow: hidden;
    margin: 0 auto;
    font-size: 1.2em;
    background: #ffd7d1;
  }
  #slider .container {
    position: relative;
    width: 9000px; /* Assign an insanely large width */
    /* top: 0;
    right: 0;
    animation: slide-animation 25s infinite;
  }
  #slider .slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
  }
  
  /* [ANIMATION] */
  /* @keyframes slide-animation {
   from {left: 100%;}
   to {left: 0%;}
  }
   */
   


   .guestblockhead {
    text-align: center;
    font-size: 47px;
    /* padding-bottom: 35px; */
    padding-top: 80px;
    font-weight: 600;
}
 
   .guestsaylist {
    font-size: 28px;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}
.guestsaylist1_a {
    border-top: 2px solid;
    color: rgb(109, 101, 101);
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.guestsayblock {
    background-image: url(../image/food-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.guestreviewicon {
    padding: 10px;
    display: inline-flex;
}

.guestreviewprev {
    padding: 5px 15px;
    background: rgb(214, 193, 200);
    font-size: 20px;
    margin: 5px 0 15px 0;
}

.guestreviewiconmain {
    text-align: center;
}

.food1 {
    color: black;
}

.food1:hover {
    color: blue;
    text-decoration: none;
}

.blogimage1a {
    width: 100%;
    height: 235px !important;
    transition: all .5s ease-in-out;
    /* border: 10px solid rgb(232, 232, 232); */
}
.blogimage1a:hover {
    transform: scale(1.2); 
    height: 235px !important;
    width: 100%;
}
.blogimagecover {
    overflow: hidden;
}
.blogimage1details:hover {
    opacity: 0.7;    
}
.bloghead {
    text-align: center;
    /* font-size: 30px; */
}

.blogbox {
    padding: 50px 100px;
}

#blogimagebox2 {
    display: none;
}

#blogbutgton2a {
    display: none ;
}
.blogimage1details {
    text-align: center;
}

.blogimage1 {
    border: 10px solid rgb(232, 232, 232);
    height: 385px;
}
.blogbutton {
    text-align: center;
    margin-top: 84px;
}
.blogbutton1 {
    cursor: pointer;
    padding: 15px 39px;
    border-radius: 20px;
    background: rgb(214, 193, 200);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.tablebook {
    background-image: url(../image/table3a.jpg);
    height: 350px;
    text-align: center;
}
.tablebook1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    padding-top: 72px;
	margin-bottom: 30px;
}

.tablebook2 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}


.tablebookbtn {
    margin-top: 50px;
}

.tablebtn1 {
    color: white;
    padding: 15px 35px;
    background: rgb(214, 193, 200);
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
}
.tablebtn1:hover {
    text-decoration: none;
}
.footer {
    padding-top: 50px;
    padding-bottom: 75px;
    background: rgb(245, 245, 245);
}

.loremipsumhead {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.loremipsumdetail {
    font-size: 16px;
    opacity: 0.7;
}


.quicklinkshead {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.quicklinksdetail {
    font-size: 16px;
    opacity: 0.7;
    line-height: 1;
}

.infohead {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
}

.followushead {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.instalink {
    padding: 0px 10px 0 0;
    font-size: 20px;
    opacity: 0.7;
}

.fblink {
    padding: 0 10px;
    font-size: 20px;
    opacity: 0.7;
}

.twitterlink {
    padding: 0 10px;
    font-size: 20px;
    opacity: 0.7;
}

.info1 {
    line-height: 1;
    opacity: 0.7;
}

.info2 {
    line-height: 1;
    margin-top: 25px;
    opacity: 0.7;
}

.infotime1 {
    margin-left: 12px;
}
.copyright {
    text-align: center;
    padding: 10px;
    background: rgb(214, 193, 200);
}

.call_here {
    position: fixed;
    right: 50px;
    z-index: 10;
    bottom: 50px;
}

img.call_logo {
    height: 70px;
    border: 1px solid;
    padding: 10px;
    background-color: slategrey;
    border-radius: 50%;
    cursor: pointer;
}

.call_number {
    padding-right: -64px;
    font-size: 17px;
    background: rgb(112, 128, 144);
    border-radius: 50px 50px 50px 50px;
    /* border: 1px solid; */
    padding: 10px;
    position: absolute;
    top: 50%;
    left: -168px;
    /* margin-bottom: 0 !important; */
    /* transform: translateX(50%); */
    /* transform: translateY(-50%); */
    transform: translate(0%, -50%);
    margin: 20p;
}



i.fa.fa-caret-right {
    font-size: 49px;
    margin-left: 20px;
    color: rgb(112, 128, 144);
    border: 1px so;
    /* font-stretch: expanded; */
}

.call_icon {
    position: absolute;
    top: 50%;
    left: -58px;
    font-size:;
    transform: translate(50%, -50%);
}

#call_detailslide {
    display: none;
    
}
